.home-container {
    // background-color: #f5f5f5;
    padding: 20px;

    .home-heder-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .hero-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            max-width: 500px;
            max-height: 500px;
        }

        .home-desc {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 20px;
            max-width: 500px;
            padding: 15px;
            border: 2px solid #000;
            border-radius: 10px;

            h2,
            p {
                color: #004AAD;
            }

            .home-button {
                max-width: fit-content;
                font-size: 1.3rem;
                font-weight: bold;
                border: 1px solid #000;
                color: #004AAD;
                border-radius: 5px;
                padding: 15px 25px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                margin-top: 15px;

                &:hover {
                    background-color: #000;
                    color: #FF5757;
                }
            }
        }

    }

}